.box {
  width: 639px;
  height: 442px;
}

.box .calendar {
  position: fixed;
  width: 639px;
  height: 442px;
  top: 0;
  left: 0;
}

.box .overlap {
  position: relative;
  width: 641px;
  height: 442px;
}

.box .element {
  width: 92px;
  top: 375px;
  left: 546px;
  background-image: url(./img/rectangle-3.svg);
  background-size: 100% 100%;
  position: absolute;
  height: 67px;
}

.box .div {
  width: 92px;
  top: 375px;
  left: 455px;
  background-image: url(./img/rectangle-3-41.svg);
  background-size: 100% 100%;
  position: absolute;
  height: 67px;
}

.box .element-2 {
  width: 92px;
  top: 375px;
  left: 364px;
  background-image: url(./img/rectangle-3-40.svg);
  background-size: 100% 100%;
  position: absolute;
  height: 67px;
}

.box .element-3 {
  width: 92px;
  top: 375px;
  left: 273px;
  background-image: url(./img/rectangle-3-39.svg);
  background-size: 100% 100%;
  position: absolute;
  height: 67px;
}

.box .overlap-group-wrapper {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 375px;
  left: 182px;
}

.box .overlap-group {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-38.svg);
  background-size: 100% 100%;
}

.box .text-wrapper {
  width: 19px;
  position: absolute;
  height: 21px;
  top: 6px;
  left: 7px;
  font-family: "Roboto Mono", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16.1px;
  letter-spacing: 0;
  line-height: normal;
}

.box .overlap-wrapper {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 375px;
  left: 91px;
}

.box .div-wrapper {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-37.svg);
  background-size: 100% 100%;
}

.box .element-4 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 375px;
  left: 0;
}

.box .overlap-2 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-36.svg);
  background-size: 100% 100%;
}

.box .element-5 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 546px;
}

.box .overlap-3 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-35.svg);
  background-size: 100% 100%;
}

.box .element-6 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 455px;
}

.box .overlap-4 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-34.svg);
  background-size: 100% 100%;
}

.box .element-7 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 364px;
}

.box .overlap-5 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-33.svg);
  background-size: 100% 100%;
}

.box .element-8 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 273px;
}

.box .overlap-6 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-32.svg);
  background-size: 100% 100%;
}

.box .element-9 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 182px;
}

.box .overlap-7 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-31.svg);
  background-size: 100% 100%;
}

.box .element-10 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 91px;
}

.box .overlap-8 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-30.svg);
  background-size: 100% 100%;
}

.box .element-11 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 0;
}

.box .overlap-9 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-29.svg);
  background-size: 100% 100%;
}

.box .element-12 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 546px;
}

.box .overlap-10 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-28.svg);
  background-size: 100% 100%;
}

.box .element-13 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 455px;
}

.box .overlap-11 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-27.svg);
  background-size: 100% 100%;
}

.box .element-14 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 364px;
}

.box .overlap-12 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-26.svg);
  background-size: 100% 100%;
}

.box .element-15 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 273px;
}

.box .overlap-13 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-25.svg);
  background-size: 100% 100%;
}

.box .element-16 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 182px;
}

.box .overlap-14 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-24.svg);
  background-size: 100% 100%;
}

.box .element-17 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 91px;
}

.box .overlap-15 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-23.svg);
  background-size: 100% 100%;
}

.box .element-18 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 0;
}

.box .overlap-16 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-22.svg);
  background-size: 100% 100%;
}

.box .element-19 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 546px;
}

.box .overlap-17 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-21.svg);
  background-size: 100% 100%;
}

.box .element-20 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 455px;
}

.box .overlap-18 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-20.svg);
  background-size: 100% 100%;
}

.box .element-21 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 364px;
}

.box .overlap-19 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-19.svg);
  background-size: 100% 100%;
}

.box .element-22 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 273px;
}

.box .overlap-20 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-18.svg);
  background-size: 100% 100%;
}

.box .element-23 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 182px;
}

.box .overlap-21 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-17.svg);
  background-size: 100% 100%;
}

.box .element-24 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 91px;
}

.box .overlap-22 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-16.svg);
  background-size: 100% 100%;
}

.box .text-wrapper-2 {
  width: 10px;
  position: absolute;
  height: 21px;
  top: 6px;
  left: 7px;
  font-family: "Roboto Mono", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16.1px;
  letter-spacing: 0;
  line-height: normal;
}

.box .element-25 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 0;
}

.box .overlap-23 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-15.svg);
  background-size: 100% 100%;
}

.box .element-26 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 111px;
  left: 546px;
}

.box .overlap-24 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-14.svg);
  background-size: 100% 100%;
}

.box .element-27 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 111px;
  left: 455px;
}

.box .overlap-25 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-13.svg);
  background-size: 100% 100%;
}

.box .element-28 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 111px;
  left: 364px;
}

.box .overlap-26 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-12.svg);
  background-size: 100% 100%;
}

.box .element-29 {
  width: 94px;
  top: 111px;
  left: 273px;
  position: absolute;
  height: 67px;
}

.box .overlap-27 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-11.svg);
  background-size: 100% 100%;
}

.box .element-30 {
  width: 94px;
  top: 111px;
  left: 182px;
  position: absolute;
  height: 67px;
}

.box .overlap-28 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-10.svg);
  background-size: 100% 100%;
}

.box .element-31 {
  width: 94px;
  top: 111px;
  left: 91px;
  position: absolute;
  height: 67px;
}

.box .overlap-29 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-9.svg);
  background-size: 100% 100%;
}

.box .element-32 {
  width: 94px;
  top: 111px;
  left: 0;
  position: absolute;
  height: 67px;
}

.box .overlap-30 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-8.svg);
  background-size: 100% 100%;
}

.box .saturday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 79px;
  left: 547px;
}

.box .overlap-31 {
  position: relative;
  width: 92px;
  height: 32px;
}

.box .rectangle {
  position: absolute;
  width: 91px;
  height: 32px;
  top: 0;
  left: 0;
}

.box .text-wrapper-3 {
  position: absolute;
  width: 92px;
  height: 15px;
  top: 10px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 11.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .friday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 80px;
  left: 456px;
}

.box .friday-wrapper {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-6.svg);
  background-size: 100% 100%;
}

.box .thursday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 80px;
  left: 365px;
}

.box .thursday-wrapper {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-5.svg);
  background-size: 100% 100%;
}

.box .wednesday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 80px;
  left: 274px;
}

.box .wednesday-wrapper {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-4.svg);
  background-size: 100% 100%;
}

.box .tuesday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 80px;
  left: 183px;
}

.box .overlap-32 {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-3.svg);
  background-size: 100% 100%;
}

.box .monday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 80px;
  left: 91px;
}

.box .overlap-33 {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-2.svg);
  background-size: 100% 100%;
}

.box .sunday {
  width: 94px;
  height: 32px;
  top: 80px;
  position: absolute;
  left: 0;
}

.box .overlap-34 {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-1.svg);
  background-size: 100% 100%;
}

.box .month-year {
  position: absolute;
  width: 640px;
  height: 81px;
  top: 0;
  left: 0;
}

.box .overlap-35 {
  position: relative;
  width: 638px;
  height: 81px;
  background-image: url(./img/rectangle-8.svg);
  background-size: 100% 100%;
}

.box .text-wrapper-4 {
  position: absolute;
  width: 636px;
  height: 53px;
  top: 17px;
  left: 2px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #004e38;
  font-size: 38.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
