.homepage {
  background-color: #c4b681;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div {
  background-color: #c4b681;
  width: 1280px;
  height: 832px;
  position: relative;
}

.homepage .text-wrapper {
  position: absolute;
  width: 869px;
  top: 218px;
  left: 206px;
  font-family: "Open Sans", Helvetica;
  font-weight: 800;
  color: #004e38;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .overlap {
  position: absolute;
  width: 1280px;
  height: 108px;
  top: 82px;
  left: 0;
  background-color: #004e38;
}

.homepage .logo {
  position: absolute;
  width: 115px;
  height: 107px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.homepage .text-wrapper-2 {
  position: absolute;
  width: 73px;
  top: 37px;
  left: 601px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper-3 {
  position: absolute;
  width: 139px;
  top: 37px;
  left: 1120px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper-4 {
  position: absolute;
  width: 74px;
  top: 37px;
  left: 992px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper-5 {
  position: absolute;
  width: 210px;
  top: 37px;
  left: 728px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .overlap-group {
  position: absolute;
  width: 1203px;
  height: 55px;
  top: 14px;
  left: 56px;
  background-image: url(./img/rectangle-10.svg);
  background-size: 100% 100%;
}

.homepage .text-wrapper-6 {
  position: absolute;
  top: 14px;
  left: 20px;
  opacity: 0.5;
  font-family: "Open Sans", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .arrow {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 30px;
  left: 18px;
}

.homepage .calendar {
  position: absolute;
  width: 678px;
  height: 479px;
  top: 303px;
  left: 301px;
  background-color: #004e38;
}

.homepage .overlap-2 {
  position: relative;
  width: 639px;
  height: 442px;
  top: 19px;
  left: 20px;
}

.homepage .overlap-wrapper {
  position: absolute;
  width: 639px;
  height: 442px;
  top: 0;
  left: 0;
}

.homepage .overlap-3 {
  position: relative;
  width: 641px;
  height: 442px;
}

.homepage .element {
  width: 92px;
  top: 375px;
  left: 546px;
  background-image: url(./img/rectangle-3-41.svg);
  background-size: 100% 100%;
  position: absolute;
  height: 67px;
}

.homepage .element-2 {
  width: 92px;
  top: 375px;
  left: 455px;
  background-image: url(./img/rectangle-3-40.svg);
  background-size: 100% 100%;
  position: absolute;
  height: 67px;
}

.homepage .element-3 {
  width: 92px;
  top: 375px;
  left: 364px;
  background-image: url(./img/rectangle-3-39.svg);
  background-size: 100% 100%;
  position: absolute;
  height: 67px;
}

.homepage .element-4 {
  width: 92px;
  top: 375px;
  left: 273px;
  background-image: url(./img/rectangle-3-38.svg);
  background-size: 100% 100%;
  position: absolute;
  height: 67px;
}

.homepage .overlap-group-wrapper {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 375px;
  left: 182px;
}

.homepage .div-wrapper {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-37.svg);
  background-size: 100% 100%;
}

.homepage .text-wrapper-7 {
  width: 19px;
  position: absolute;
  height: 21px;
  top: 6px;
  left: 7px;
  font-family: "Roboto Mono", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16.1px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .element-5 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 375px;
  left: 91px;
}

.homepage .overlap-4 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-36.svg);
  background-size: 100% 100%;
}

.homepage .element-6 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 375px;
  left: 0;
}

.homepage .overlap-5 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-35.svg);
  background-size: 100% 100%;
}

.homepage .element-7 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 546px;
}

.homepage .overlap-6 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-34.svg);
  background-size: 100% 100%;
}

.homepage .element-8 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 455px;
}

.homepage .overlap-7 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-33.svg);
  background-size: 100% 100%;
}

.homepage .element-9 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 364px;
}

.homepage .overlap-8 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-32.svg);
  background-size: 100% 100%;
}

.homepage .element-10 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 273px;
}

.homepage .overlap-9 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-31.svg);
  background-size: 100% 100%;
}

.homepage .element-11 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 182px;
}

.homepage .overlap-10 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-30.svg);
  background-size: 100% 100%;
}

.homepage .element-12 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 91px;
}

.homepage .overlap-11 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-29.svg);
  background-size: 100% 100%;
}

.homepage .element-13 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 309px;
  left: 0;
}

.homepage .overlap-12 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-28.svg);
  background-size: 100% 100%;
}

.homepage .element-14 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 546px;
}

.homepage .overlap-13 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-27.svg);
  background-size: 100% 100%;
}

.homepage .element-15 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 455px;
}

.homepage .overlap-14 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-26.svg);
  background-size: 100% 100%;
}

.homepage .element-16 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 364px;
}

.homepage .overlap-15 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-25.svg);
  background-size: 100% 100%;
}

.homepage .element-17 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 273px;
}

.homepage .overlap-16 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-24.svg);
  background-size: 100% 100%;
}

.homepage .element-18 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 182px;
}

.homepage .overlap-17 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-23.svg);
  background-size: 100% 100%;
}

.homepage .element-19 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 91px;
}

.homepage .overlap-18 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-22.svg);
  background-size: 100% 100%;
}

.homepage .element-20 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 243px;
  left: 0;
}

.homepage .overlap-19 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-21.svg);
  background-size: 100% 100%;
}

.homepage .element-21 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 546px;
}

.homepage .overlap-20 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-20.svg);
  background-size: 100% 100%;
}

.homepage .element-22 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 455px;
}

.homepage .overlap-21 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-19.svg);
  background-size: 100% 100%;
}

.homepage .element-23 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 364px;
}

.homepage .overlap-22 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-18.svg);
  background-size: 100% 100%;
}

.homepage .element-24 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 273px;
}

.homepage .overlap-23 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-17.svg);
  background-size: 100% 100%;
}

.homepage .element-25 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 182px;
}

.homepage .overlap-24 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-16.svg);
  background-size: 100% 100%;
}

.homepage .element-26 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 91px;
}

.homepage .overlap-25 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-15.svg);
  background-size: 100% 100%;
}

.homepage .text-wrapper-8 {
  width: 10px;
  position: absolute;
  height: 21px;
  top: 6px;
  left: 7px;
  font-family: "Roboto Mono", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16.1px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .element-27 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 177px;
  left: 0;
}

.homepage .overlap-26 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-14.svg);
  background-size: 100% 100%;
}

.homepage .element-28 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 111px;
  left: 546px;
}

.homepage .overlap-27 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-13.svg);
  background-size: 100% 100%;
}

.homepage .element-29 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 111px;
  left: 455px;
}

.homepage .overlap-28 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-12.svg);
  background-size: 100% 100%;
}

.homepage .element-30 {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 111px;
  left: 364px;
}

.homepage .overlap-29 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-11.svg);
  background-size: 100% 100%;
}

.homepage .element-31 {
  width: 94px;
  top: 111px;
  left: 273px;
  position: absolute;
  height: 67px;
}

.homepage .overlap-30 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-10.svg);
  background-size: 100% 100%;
}

.homepage .element-32 {
  width: 94px;
  top: 111px;
  left: 182px;
  position: absolute;
  height: 67px;
}

.homepage .overlap-31 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-9.svg);
  background-size: 100% 100%;
}

.homepage .element-33 {
  width: 94px;
  top: 111px;
  left: 91px;
  position: absolute;
  height: 67px;
}

.homepage .overlap-32 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-8.svg);
  background-size: 100% 100%;
}

.homepage .element-34 {
  width: 94px;
  top: 111px;
  left: 0;
  position: absolute;
  height: 67px;
}

.homepage .overlap-33 {
  position: relative;
  width: 92px;
  height: 67px;
  background-image: url(./img/rectangle-3-7.svg);
  background-size: 100% 100%;
}

.homepage .saturday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 79px;
  left: 547px;
}

.homepage .overlap-34 {
  position: relative;
  width: 92px;
  height: 32px;
}

.homepage .rectangle {
  position: absolute;
  width: 91px;
  height: 32px;
  top: 0;
  left: 0;
}

.homepage .text-wrapper-9 {
  position: absolute;
  width: 92px;
  height: 15px;
  top: 10px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 11.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .friday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 80px;
  left: 456px;
}

.homepage .friday-wrapper {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-5.svg);
  background-size: 100% 100%;
}

.homepage .thursday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 80px;
  left: 365px;
}

.homepage .thursday-wrapper {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-4.svg);
  background-size: 100% 100%;
}

.homepage .wednesday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 80px;
  left: 274px;
}

.homepage .wednesday-wrapper {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-3.svg);
  background-size: 100% 100%;
}

.homepage .tuesday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 80px;
  left: 183px;
}

.homepage .overlap-35 {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-2.svg);
  background-size: 100% 100%;
}

.homepage .monday {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 80px;
  left: 91px;
}

.homepage .overlap-36 {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3-1.svg);
  background-size: 100% 100%;
}

.homepage .sunday {
  width: 94px;
  height: 32px;
  top: 80px;
  position: absolute;
  left: 0;
}

.homepage .overlap-37 {
  position: relative;
  width: 92px;
  height: 32px;
  background-image: url(./img/rectangle-3.svg);
  background-size: 100% 100%;
}

.homepage .month-year {
  position: absolute;
  width: 640px;
  height: 81px;
  top: 0;
  left: 0;
}

.homepage .overlap-38 {
  position: relative;
  width: 638px;
  height: 81px;
  background-image: url(./img/rectangle-8.svg);
  background-size: 100% 100%;
}

.homepage .text-wrapper-10 {
  position: absolute;
  width: 636px;
  height: 53px;
  top: 17px;
  left: 2px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #004e38;
  font-size: 38.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper-11 {
  position: absolute;
  width: 91px;
  height: 11px;
  top: 200px;
  left: 93px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper-12 {
  position: absolute;
  width: 92px;
  top: 401px;
  left: 3px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}
