body{
    background-color: #C4B681;
    opacity: 0.9;
    margin:0;
}

/* Add a  background color to the top navigation */
.topnav{
    background-color: #004E38;
    overflow: hidden;
}
/* Style of the links in the bar */
.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* changes colors of links while hovering */
.topnav a:hover {
    background-color: #ddd;
    color: #004E38;
}
/*active link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

h1{
    color: #004E38;
    text-align: center;
    position: relative;
    top: 10px; 
}
h2{
    color: #004E38;
    text-align: left;
    position: relative;
    top: 20px;
    left: 150px;
    font-size: 30px;
    font-weight: bold; 
}
li{
    color: #004E38;
    text-align: left;
    position: relative;
    left: 150px;
    word-spacing: 100vw;
    margin: 25px;
}
.rectangle {
    width: 450px;
    height: 490px;
    position: fixed;
    left: 170px;
    flex-shrink: 0;
    border-radius: var(--Number, 0px); border: 1px solid #000; background: #004E38; 
}
.rectangle2 {
    width: 450px;
    height: 490px;
    position: fixed;
    right: 170px;
    flex-shrink: 0;
    border-radius: var(--Number, 0px); border: 1px solid #000; background: #004E38; 
}
h3 {
    text-align: center;
    color:white;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
    font-size:28px;
}
h4 {
    text-align: center;
    color:white;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}
p{
    color:white;
    margin-right: 5%;
    margin-left: 5%;
}
